<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="box-white box-margin-height">
      <h2 class="text-center" style="margin-top: 5px;">New listing</h2>
        <%= render 'form' %> <br>
        <%= link_to 'Back', :back, class: "btn btn-default btn-block" %>
      </div>
    </div>
  </div>
</div>
