.product-main-info {
  color: $brand-color;
  font-family: $header-font;
  font-size: 30px;
  display: inline-block;
  font-weight: bold;
}

.product-info-separation {
  border-top: 1px solid #E3E3E3;
  width: 100%;
  margin: 15px 0;
}

#user-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#user-avatar {
  flex: 0 1 25%;
}

#user-description {
  flex: 0 1 70%;
}
