<div class="box-large-white">
  <h2 class="text-center">Novo Booking</h2>
  <%= render 'form', booking: @booking %> <br>
  <%= link_to 'Back', republica_bookings_path(@republica), class: "btn btn-default btn-block" %>
</div>

