<h1>New Booking</h1>
<br>

<div class="box-large-white">
  <h2 class="text-center">Novo Booking</h2>
  <%= render 'form', booking: @booking, listing: @listing %> <br>
  <%= link_to 'Back', root_path, class: "btn btn-default btn-block" %>
</div>

