<div class="footer">
  <div class="footer-links">
    <ul class="list-inline">
      <li><%= link_to 'about', about_path %></li>
      <li><%= link_to 'team', team_path %></li>
      <li><%= link_to 'contact', contact_path %></li>
    </ul>
  </div>
  <div class="footer-social">
    <ul class="list-inline">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
  </div>
</div>
