<div class="banner">
  <div class="banner-content">
    <h1>FURNITURE THAT FITS YOUR LIFE</h1>
    <h2>RENT IN A CLICK, RECEIVE IN A WEEK!</h2><br> <br>
    <div class="banner-search-form">
      <form action="search" class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="city">Furniture type</label>
          <input type="text" class="form-control search-field" id="furniture_type" name="furniture_type" placeholder="Furniture">
          <label class="sr-only" for="city">City</label>
          <input type="text" class="form-control search-field" id="city" name="city" placeholder="City">
        </div>
        <button type="submit" class="btn navbar-wagon-button"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
  <div class="arrow bounce">
      <i class="fa fa-arrow-down fa-2x"></i>
  </div>
</div>

