<div class="padded">
  <div class="container">
    <div class="row">
        <div class="features text-center">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature text-center">
              <div class="feature-content">
                <%= image_tag "furniture.png", class: "image-small" %>
                <h3>Find furniture</h3>
                <p>EasyMoveis has the coolest furniture online!</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature text-center">
              <div class="feature-content">
                <%= image_tag "rent.png", class: "image-small" %>
                <h3>Rent online</h3>
                <p>Rent the furniture your need for the time you need, quick and easy!</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature text-center">
              <div class="feature-content">
                <%= image_tag "delivery.png", class: "image-small" %>
                <h3>Quick delivery</h3>
                <p>Receive your furniture in one convenient and quick delivery</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature text-center">
              <div class="feature-content">
                <%= image_tag "home.png", class: "image-small" %>
                <h3>Feel at home</h3>
                <p>Your place is now your home, thanks to EasyMoveis!</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

