<div class="container padded">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
    <div class="row">
      <h3 class="text-center">Meet our fantastic team</h3><br>
    </div>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="text-center box-white">
            <%= image_tag "antoine.jpg", class: "avatar-giant"%><br>
            <h4>Antoine</h4>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="text-center box-white">
            <%= image_tag "cecile.jpg", class: "avatar-giant"%><br>
            <h4>Cécile</h4>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="text-center box-white">
            <%= image_tag "felipe.jpg", class: "avatar-giant"%><br>
            <h4>Felipe</h4>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="text-center box-white">
            <%= image_tag "rodrigo.jpg", class: "avatar-giant"%><br>
            <h4>Rodrigo</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
