.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $brand-color;
  align-items: center;
  padding: 20px 30px;
  color: #D7D7D7;
  p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
  }
}

.footer-social {
  flex: 0 1 auto;
  a i {
    font-size: 30px;
    margin: 0 10px;
    color: #D7D7D7;
    transition: .3s;
    &:hover{
      color: white;
    }
  }
  i {
    color: #D7D7D7;
  }
}

.footer-links {
  flex: 0 1 auto;
  a {
    color: #D7D7D7;
    text-decoration: none;
    transition: .3s;
    &:hover {
      color: white;
    }
  }
}

