.btn {
  font-size: 13px;
  font-weight: lighter;
  transition: .3s;
}

.btn-red {
  background-color: $brand-color;
  border: 0;
  color: white;
  &:hover {
    background-color: #A70003;
    border: 0;
    color: white;
  }
}

.btn-margin {
  margin: 3px 0;
}

.btn-round-bordered {
  margin: 5px;
  display: inline-block;
  color: $brand-color;
  background-color: white;
  border: solid 2px $brand-color;
  border-radius: 50%;
  font-size: 12px;
  padding: 10px 0;
  width: 40px;
  height: 40px;
  font-weight: bold;
  &:target {
    background-color: $brand-color;
    color: white;
  }
}

.btn-clear {
  border: 0;
  background-color: rgba(0,0,0,0);
  color: $gray;
  &:hover {
    color: $brand-color;
  }
}

.target {
  background-color: $brand-color;
  color: white;
}

.work-buttons {
  display: block;
}

.btn-feature {
  font-size: 16px;
  padding: 20px 30px;
  border-radius: 0;
  &:active {
    background-color: #e6e6e6;
  }
}

#work-buyer {
  border-right: 0;
  border-radius: 10px 0 0 10px;
}

#work-seller {
  border-radius: 0 10px 10px 0;
}

.booking_start_date {
  .btn-default {
    height: 36px;
  }
}
