.card {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 200px;
  margin-bottom: 20px;
  color: white;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

.card-avatar {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 4;
}

.card-title {
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-size: 20px;
  font-weight: 400;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
